body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    font-size: 100px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}